[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupytext = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
jupyter = "*"
nbconvert = "*"
ipykernel = "*"
github2pandas-manager = {ref = "main", git = "https://github.com/TUBAF-IFI-DiPiT/github2pandas_manager.git", editable = true}

[dev-packages]

[requires]
python_version = "3.9"
